In [2]:
print("1024 * 768 =", 1024*768)

1024 * 768 = 786432

In [4]:
a = 100
if (a>=0):
    print(a)
else:
    print(-a)

100

In [5]:
a = 123
print(a)

123

In [6]:
print(a)

123

In [7]:
a = "ABC"
print(a)

ABC

In [8]:
a ="ABC"
b = a
a = "XYZ"
print(a)

XYZ

In [9]:
printt(b)

ABC

In [10]:
print("Hello" + "world")
print("Hello %s" % "world")
print("{} can be {}".format("string", "format"))
print("{name} wants to {where}".format(name="kayle", where="ChongQing"))
persen_name = "XiaoAn"
persen_where = "ChongQing"
print("{name} wants to {where}".format(name=persen_name, where=persen_where))

Helloworld
Hello world
string can be format
kayle wants to ChongQing
XiaoAn wants to ChongQing

In [11]:
classmates = ["Michael", "Bob", "Tracy"]
classmates

['Michael', 'Bob', 'Tracy']

In [12]:
len(classmates)

3

In [14]:
classmates[0]
classmates[1]
classmates[2]

'Tracy'

In [15]:
classmates[-1]

'Tracy'

In [16]:
classmates.append("kayle")

In [17]:
classmates

['Michael', 'Bob', 'Tracy', 'kayle']

In [18]:
classmates.insert(1, "Andy")

In [19]:
classmates

['Michael', 'Andy', 'Bob', 'Tracy', 'kayle']

In [20]:
classmates.pop()

'kayle'

In [21]:
classmates

['Michael', 'Andy', 'Bob', 'Tracy']

In [22]:
classmates.pop(1)

'Andy'

In [23]:
classmates

['Michael', 'Bob', 'Tracy']

In [24]:
t = ('a', 'b', ['A', 'B'])

In [25]:
t

('a', 'b', ['A', 'B'])

In [26]:
t[2][0] = 'X'
t[2][1] = 'Y'

In [27]:
t

('a', 'b', ['X', 'Y'])

In [28]:
s = input("brith=")

brith=1993

In [29]:
type(s)

str

In [30]:
s = int(s)

In [31]:
s

1993

In [32]:
type(s)

int

In [33]:
name_list = ['Michael', 'Andy', 'Bob', 'Tracy']
for name in name_list:
    print(name)

Michael
Andy
Bob
Tracy

In [36]:
sum = 0
for i in range(101):
    sum += i
print(sum)

5050

In [37]:
sum = 0
n =99
while n > 0:
    sum += n
    n -= 2
print(sum)

2500

In [38]:
L = ['Bart', 'Lisa', 'Adam']
for name in L:
    print("Hello %s" % name)

Hello Bart
Hello Lisa
Hello Adam

In [39]:
d = {'Michael': 95, 'Bob': 75, 'Tracy': 85}
d['Michael']

95

In [1]:
def my_ads(x):
    if x >= 0:
        return x
    else:
        return -x

In [2]:
my_ads(10)

10

In [3]:
def my_ads(x):
    if not isinstance(x, (int, float)):
        raise TypeError('bad operand type')
    if x >= 0:
        return x
    else:
        return -x

In [4]:
my_ads('a')

TypeError: bad operand type

In [3]:
# 默认参数
def power(x, n=2):
    s = 1
    while n>0:
        n = n-1
        s = s*x
    return s

In [4]:
power(5)

25

In [5]:
power(3,3)

27

In [1]:
L = ['Michael', 'Sarah', 'Tracy', 'Bob', 'Jack']

In [2]:
L[0:3]

['Michael', 'Sarah', 'Tracy']

In [3]:
L[:]

['Michael', 'Sarah', 'Tracy', 'Bob', 'Jack']

In [4]:
L[::-1]

['Jack', 'Bob', 'Tracy', 'Sarah', 'Michael']

In [5]:
L[-1:]

['Jack']

In [8]:
L = list(range(100))

In [11]:
L[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
L[-10:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [9]:
L[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
(0, 1, 2, 3, 4, 5)[:3]

(0, 1, 2)

In [13]:
 'ABCDEFG'[::2]

'ACEG'

In [17]:
# 迭代 Iteration
for ch in 'ABCDEFG':
    print(ch)

A
B
C
D
E
F
G

In [16]:
d = {'a':1, 'b':2, 'c':3, 'd':4,}
for key in d:
    print(key)

a
b
c
d

In [18]:
# 判断是否为可迭代对象
from collections import Iterable
isinstance('abc', Iterable)

True

In [19]:
isinstance([1, 2, 3], Iterable)

True

In [20]:
isinstance(123, Iterable)

False

In [21]:
for key, value in d:
    print(key, value)

ValueError: not enough values to unpack (expected 2, got 1)

In [22]:
# enumerate 函数把list 变成键值对
for i ,value in enumerate(['a', 'b', 'c']):
    print(i, value)

0 a
1 b
2 c

In [23]:
for x, y in [(1,1), (2,4), (3,9)]:
    print(x, y)

1 1
2 4
3 9

In [29]:
for m, n in [('ABC'), ('XYZ')]:
    print(m, n)

ValueError: too many values to unpack (expected 2)

In [30]:
# 列表生成器 List Comprehensions
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
[x*x for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
L = [x*x for x in range(1, 11) if 0==x%2]

In [33]:
L

[4, 16, 36, 64, 100]

In [34]:
# 两层for循环 先执行完内层循环
[m+n for m in 'ABC' for n in 'XYZ']

['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']

In [35]:
d = {'x': 'A', 'y': 'B', 'z': 'C' }
for key ,value in d.items():
    print(key, '=', value)

x = A
y = B
z = C

In [36]:
# 在列表生成器中还可以添加函数
L = ['Hello', 'World', 'IBM', 'Apple']
[s.lower() for s in L]

['hello', 'world', 'ibm', 'apple']

In [37]:
# 生成器 generator
g = (x*x for x in range(1,11))

In [38]:
g

In [41]:
for x in g:
    print(x)

In [42]:
next(g)

StopIteration:

In [43]:
def fib(n):
    i, a, b = 0, 0, 1
    while i < n:
        yield b
        a, b = b, a+b
        n = n+1
    return 'done'

In [44]:
fib(6)

In [45]:
# 函数式编程 就是将一个函数作为参数传递给另一个函数
def add(x, y, f):
    return f(x) + f(y)

In [46]:
x = 5
y = -6
f = abs
f(x) + f(y)

11

In [47]:
add(5, -6, abs)

11

In [57]:
# map()函数
# 作用：一一映射
# function, Iterable
# return: Iterator

def power(x):
    return x*x
L = [x for x in range(1, 11)]
r = map(power, L)

In [58]:
print(type(r))
print(L)

<class 'map'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
list(map(str, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [61]:
# reduce()函数
# 作用：累积计算
# function, Iterable
# return: 数值或者字符串等可累加类型

from functools import reduce

def add(x, y):
    return x+y

reduce(add, [1, 3, 5, 7, 9])

25

In [62]:
def normalize(name):
    return name[0].upper() + name[1:].lower()

In [63]:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [64]:
# filter()函数
# 作用：过滤序列
# function, Iterable
# return: Iterator

def is_odd(n):
    return n%2 == 1

list(filter(is_odd, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

[1, 3, 5, 7, 9]